<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <a href="login.html">login</a>
    <a href="home.html">home</a>
    <a href="register.html">register</a>
    <fieldset>
        <legend>LOGIN</legend>
        <form action="../controller/login.php" method="POST">
            EMAIL: <input type="email" name="email"><br><br>
            PASSWORD: <input type="password" name="password"><br><hr>
            <input type="submit" name="submit">
        </form>
    </fieldset>
</body>
</html>